* {
    font-family: "Gelasio", sans-serif;
    font-size: 16px;
}

QWidget {
    background-color: #2b193d;
    color: #c5979d;
    font-size: 16px;
}

QLabel {
    color: #9bbcb7;
    font-size: 18px;
    font-weight: bold;
}

QPushButton {
    background-color: #2c365e;
    color: #c5979d;
    border: 1px solid #555555;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
}

QPushButton:hover {
    background-color: #484d6d;
    border: 1px solid #4b8f8c;
}

QPushButton:pressed {
    background-color: #2b193d;
}
